body{
    background-color:#EEEEEE;
}
header{
    width: 100%;
    height: 250px;
    background-repeat:no-repeat ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*=====================Espace des employes============================*/
#EspEmp{
    width: 100%;
    margin:auto;
    text-align: right;
    justify-items: center;
}
#espemp{
    padding: 3px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 3px;
    border: 2px #000 solid;
}
#espemp:hover{
    text-decoration: none;
    color: #fff;
    background-color: rgb(250, 216, 171);
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 3px;
}
/*========================================*/
#ident{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#ident>div{
    width: 250px;
}
#identifier{
   display: flex;
   justify-content: space-around;
}
#identifier>p>a{
    color: #000;
    border:3px #000 solid;
    border-radius: 10px;
    padding:5px;
    text-decoration: none;
}
#identifier>p>a:hover{
    color: #000;
    border:3px #000 solid;
    border-radius: 10px;
    padding:5px;
    text-decoration: none;
    background-color: rgb(250, 216, 171);
}
#recherche{
    justify-self:center;
    margin: auto;
}